/*!
Theme Name: krom
Author: krom
Author URI: https://www.krom.id
Description: Website Krom
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: #1f2e45;
  font-size: 18px;
  font-weight: 600;
}

a:visited {
  color: #1f2e45;
}

a:hover,
a:focus,
a:active {
  color: #191970;
}

a:focus {
  outline: #6936d3;
}

a:hover,
a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/*custom style*/

html {
  scroll-behavior: smooth;
}

header.header {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 0;
  background-color: #6a38d3;
  z-index: 11;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header.header:not(.fixed) {
  top: -136px;
}

header.header.fixed {
  width: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}
.header-wrap {
  display: flex;
}
.header-fixed {
  padding-top: 136px;
}

header .navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff !important;
}

header.fixed .navbar-light .navbar-nav .nav-link {
  color: #6a38d3 !important;
}

header .btn-download {
  background: #fff !important;
  color: #6a38d3 !important;
  border: 1px solid #fff !important;
}

header.fixed .btn-download {
  background: #6a38d3 !important;
  color: #fff !important;
  border: 1px solid #6a38d3 !important;
}

body.admin-bar.header-fixed header.fixed {
  top: 32px;
}
.cover-container {
  max-width: 42em !important;
}
.section-pages {
  font-family: Poppins;
  font-size: 14px;
}

.container {
  max-width: 1280px !important;
}

/*header*/

.header-wrap {
  padding: 10px 0px;
}

header .header.navbar-nav.nav-link {
  color: #fff !important;
}

.header-logo img {
  width: 110px;
  height: 30px;
}

header .btn-download {
  background: #fff !important;
  color: #6a38d3 !important;
  border: 1px solid #fff !important;
  width: 115px;
  height: 45px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 5px 0px 0px 50px !important;
  }

  .hero-title {
    width: 650px;
  }

  .navbar {
    padding: 0px !important;
  }
}

.hero-prg {
  margin: 30px 0px;
}

/*-------homepages*-----/

/*section one */
.bg-homepages {
  background-image: linear-gradient(
      to top,
      rgba(105, 54, 211, 0) 100%,
      #6936d3 0%
    ),
    linear-gradient(to bottom, #6a38d3, #6a38d3);
  margin-top: -50px;
  padding: 50px 0px 120px;
}

.homepages {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.homepages h1 {
  font-size: 56px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.24px;
  text-align: left;
}

.homepages p {
  font-size: 26px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.04px;
}

.homepages .btn-download {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6936d3;
  padding: 12px 20px 11px 21px;
  border-radius: 6px;
  background-color: #fff;
}

.feature.col {
  margin-left: -30px !important;
}

.textleft {
  text-align: left;
}

.wrap-logo-lps {
  margin-top: 80px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px;
}

footer.mainfooter {
  font-family: Poppins;
  background: #f8f4ff;
  padding: 40px 0 20px;
}

.footer-menu li {
  text-align: right;
  color: #1f2e45;
  margin-right: 20px;
}

.footer-bottom {
  color: #1f2e45;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding-left: 20px;
}
.footer-pad a {
  color: #1f2e45;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}

.footer-info {
  line-height: 24px;
  margin: 20px 0 30px;
}
.copyright {
  color: #1f2e45;
  margin-top: 30px;
}

ul#menu-footer-menu {
  display: flex;
  justify-content: end;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
}

li.menu-footer-menu {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.title-two {
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2b29;
}

.prg-two {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  margin: 20px 0 20px;
}

@media screen and (min-width: 1200px) {
  li#menu-item-17 {
    display: none;
  }
}

/*section two tabs */

.section-two {
  padding: 80px 80px 0px 80px;
}

label,
a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
}
.nav-tabs .nav-link {
  font-size: 20px;
  color: #1f2e45;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #6936d3 !important;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 4px solid #6936d3 !important;
  display: inline-block;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  background-color: inherit !important;
  padding-bottom: 20px !important;
}

input[type="radio"]:checked + .page-tab + label.nav-tab svg {
  opacity: 1;
}
label.nav-tab span {
  padding-left: 0px;
  position: relative;
}

.page-contents p {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  margin-top: 94px;
}

dl,
ol,
ul {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
}

h5 {
  font-size: 18px !important;
  font-weight: 600 !important;
  text-align: left;
  color: #1f2e45;
}

.nav-tabs .nav-link {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  border-bottom: 4px solid #e5e5e5 !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  padding-bottom: 20px !important;
}

.nav-tabs {
  border-bottom: 0px !important;
}

.nav-link {
  padding: 0px 24px 24px 24px !important;
}

.page-contents {
  max-width: 100%;
  margin: 0 auto;
}

.btn-pelajari {
  font-size: 16px;
  font-weight: 600;
  color: #2e2b29;
  text-decoration: underline;
  text-transform: capitalize;
  background: url(../../../wp-content/uploads/2022/08/ic_arrow.png) no-repeat;
  background-position: right;
  padding-right: 40px;
}

.btn-pelajari a:active {
  color: #2e2b29;
}

.btn-pelajari a:hover {
  color: #6a38d3;
}

.feature-image {
  margin-bottom: 20px;
}

.featurette-image-kebutuhan {
  float: right;
}

.feature-two {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2e2b29;
}

.feature-icon {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  margin-top: 16px;
}

.layanan-image img {
  width: 450px;
  height: 100%;
}

/*section three*/

.section-three {
  margin: 80px 0 0;
  padding: 80px;
  background-color: #faf9ff;
}

.title_main {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f2e45;
}

.paragraph_main {
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f2e45;
  margin: 20px 0px 50px;
}

.wrap-layout-tab {
  display: flex;
  justify-content: space-around;
}

.layout-tab-feature {
  margin-left: 450px;
}

/*section  four*/

.section-four {
  padding: 80px;
  background-color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6936d3 !important;
  border-bottom: 4px solid #6936d3;
  background: inherit !important;
  padding-bottom: 17px !important;
}

.nav-pills .nav-link {
  border-radius: 0px !important;
  color: #1f2e45 !important;
  border-bottom: 4px solid #e5e5e5;
  padding-bottom: 20px !important;
}

.tab-pane {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  margin-top: 50px;
}

.layanan-prg dl,
ol,
ul {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
}

.layanan-prg li {
  margin: 0px -20px 10px;
}

.layanan-prg li::before {
  padding-right: 20px;
}

li::before {
  padding-right: 20px !important;
}

.image-trans img,
.earning-images img {
  width: 450px;
  height: auto;
  margin: auto;
  display: block;
}

.earning-images-one {
  width: 450px;
  height: auto;
}

.vc-image-trans.image-trans {
  margin-top: -132px;
  margin-left: -22px;
}

/*section  five*/

.section-five {
  padding: 80px;
  background-color: #faf9ff;
}

.other {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f2e45;
}

.sub-other {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f2e45;
  margin-top: 20px;
}

.p-earning p {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  margin-top: -55px;
  margin-left: 10px;
}

.earning {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-weight: 600;
  color: #1f2e45;
}

.wrap-earning {
  border: 1px solid;
  padding: 30px;
  border-radius: 6px;
  border: solid 1px #abadb9;
}

.card {
  border: 0px !important;
  border-radius: 0 !important;
  background-color: #faf9ff !important;
}

.card-header {
  background-color: #faf9ff !important;
  border-bottom: 0px !important;
  border-radius: 0px !important;
}

.earning-images-one {
  width: 450px;
  height: 450px;
  position: relative;
}

.earning-images-two {
  width: 450px;
  height: 450px;
  position: relative;
}

.earning-images-three {
  width: 450px;
  height: 450px;
  position: relative;
}

.p-earning {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
}

.vc-card-header__icon {
  margin-bottom: 20px;
}

.vc-card {
  border: solid 1px #f0ebfb !important;
  cursor: pointer;
}

.v-card-content {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  margin-top: 20px;
}

img.js-home-section-five-image {
  width: 450px;
  height: auto;
}

/*section six*/

.section-six {
  margin: 80px 210px;
  padding: 60px 0px 40px;
  border-radius: 10px;
  background-color: #6936d3;
  color: #fff;
}

.btn-link {
  position: relative;
  left: 26px;
  top: 180px;
  z-index: 1;
}

.btn-link-one {
  position: relative;
  top: 180px;
  z-index: 1;
  background: none !important;
}

.btn-link-two {
  position: relative;
  top: 180px;
  z-index: 1;
  background: none !important;
}

.btn-link-three {
  position: relative;
  top: 180px;
  z-index: 1;
  background: none !important;
}

.earning-icon {
  position: relative;
  top: -140px;
  left: 0px;
}

.wrap-tab-fitur {
  padding: 180px 30px 20px;
  border-radius: 6px;
  border: solid 1px #abadb9;
}

/*section seven*/

.section-seven {
  margin: 80px 100px;
  padding: 40px 50px;
}

h2.banner_title {
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.featurette-banner p {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.featurette-banner ul li {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: #fff;
  padding-left: 20px;
  list-style-image: url(../../../wp-content/uploads/2022/08/ic_checklist.png);
  margin: 0px -12px;
}

.section-seven p {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1f2e45;
  margin-top: 30px;
  margin-bottom: 0px !important;
}

.banner-img {
  margin: auto;
  display: block;
}

.card-header {
  background: none !important;
}
.btn-lainnya {
  padding: 12px 35px 11px 35px !important;
  border-radius: 6px;
  background-color: #6936d3;
  color: #fff;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.btn.focus,
.btn:focus {
  box-shadow: none !important;
}

a.btn.btn-lainnya {
  color: #fff;
}

/*faq home*/
#main {
  margin: 50px 0;
}

a.btn.btn-header-link {
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  font-weight: 600;
  padding: 10px 0px 30px;
  width: 100%;
}

#main #faq .card .collapsing {
  line-height: 30px;
}

#main #faq .card .collapse {
  border: 0;
}

.card-header {
  padding: 0px !important;
  padding-left: 10px !important;
}

.card-body-faq p {
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  padding-bottom: 30px;
  border-bottom: 2px solid #e0e0e0;
}

.card-header-faq {
  border-bottom: 2px solid #e0e0e0;
}

#main #faq .card-faq .card-header-faq .btn-header-link:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
}

#main #faq .card-faq .card-header-faq .btn-header-link.collapsed {
  color: #1f2e45;
  text-align: left;
}

#main #faq .card-faq .card-header-faq .btn-header-link.collapsed:after {
  content: "\f106";
}

.card-body-download {
  padding: 80px 80px;
}

.title-download {
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
}

.prg-download {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  margin: 20px 0 20px;
}

h5 {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.v-card-content {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.purple {
  background-color: #6936d3;
  width: 720px;
  height: 720px;
  margin-left: 17px;
}

.featurette-banner p,
.featurette-banner ul li {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}

button.close {
  text-align: right;
  color: #fff;
  font-size: 40px;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 99;
  top: 15px;
  right: 20px;
  opacity: 100;
  font-family: Poppins;
  text-shadow: none !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1280px !important;
  }
}

/*section hubungi*/

.section-hubungi {
  padding: 110px 0 50px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
}

.section-other {
  padding: 50px 0 50px;
}

.date-other {
  color: #666;
  margin-top: 10px;
}

.title-hub {
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  margin-bottom: 20px;
}

.title-other {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
}

.entry-content-main {
  width: 1280px;
  margin: 80px auto 80px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
  font-family: Poppins;
}
.entry-content-main h2 {
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1f2e45;
}
.wp-block-post-date {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6b717b;
  margin: 20px 0px 40px;
}

.wrap-other {
  padding: 40px 0px 0px;
  border-top: 1px solid #eaeaea;
}
.wrap-hubungi {
  padding: 0px 0px 40px;
}

.content-other {
  padding-right: 100px;
}

.sidebar a {
  display: block;
  color: black;
  text-decoration: none;
}

.sidebar a.active {
  color: #6936d3 !important;
  border-left: 3px solid #6936d3;
  padding-left: 10px;
}

.sidebar a:hover:not(.active) {
  color: black;
}

a:hover.btn.btn-lainnya {
  color: #fffc !important;
}

.menu-sidebar {
  margin-top: 30px;
}

.google-map-wrap {
  margin-top: -60px;
}

@media screen and (min-width: 1090px) {
  .layout-tab-feature {
    margin-left: 0px;
  }

  .layanan-image {
    top: 0px;
  }

  .section-six {
    margin: 80px 80px;
  }

  .section-seven {
    margin: 80px 0px;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .layout-tab-feature {
    margin-left: 0px;
  }

  .layanan-image {
    top: 0px;
  }

  img.js-home-section-five-image {
    width: 450px;
    height: auto;
    margin: auto;
    display: block;
  }

  .header-wrap {
    justify-content: space-between;
    display: flex;
  }

  .header-wrap.d-flex.flex-column.flex-md-row.align-items-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row !important;
  }

  .header-logo {
    margin: 0px 20px;
  }

  header .btn-download {
    display: none;
  }

  .header-wrap {
    padding: 30px 0px;
  }

  /* .navbar-nav {
      margin-left: 10px;
    }
    .navbar-collapse {
      width: 100%;
      position: absolute;
      top: 42px;
      left: -328px;
      z-index: 999;
      padding: 15px 40px 10px;
      color: #6936d3;
    } */

  .navbar-light .navbar-nav .nav-link {
    color: #6936d3 !important;
    line-height: 30px;
  }

  .navbar-light .navbar-nav .active > .nav-link {
    color: #6936d3 !important;
  }

  .ul#menu-main-menu {
    background: #fff;
  }

  header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    line-height: normal;
  }

  /* .navbar-nav {
      min-width: 768px;
      overflow-x: hidden;
      background: #fff;
      padding-top: 20px;
      margin-left: -363px;
    } */
}

/*media screen */
@media screen and (max-width: 1000px) and (min-width: 600px) {
  .vc-header {
    background: #fff !important;
    top: 0 !important;
  }

  .header-wrap.d-flex.flex-column.flex-md-row.align-items-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row !important;
  }

  .col-8.d-flex.justify-content-end.align-items-center.wrap-btn-download {
    display: none !important;
  }

  .vc-header ~ .section-pages.section-two .feature-wrapper {
    padding: 0;
    margin: 0;
  }

  .layout-tab-feature ul.nav.nav-tabs {
    flex-wrap: nowrap;
    margin-left: 15px;
  }

  .layout-tab-feature {
    margin-left: 0px;
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 20px;
    overflow-y: auto;
  }

  .vc-header ~ .section-pages.section-two .feature-wrapper .feature {
    flex: 0 0 100%;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .vc-header ~ .section-pages.section-four .vc-image-trans.image-trans {
    margin-top: 0;
  }

  .vc-header ~ footer.mainfooter {
    margin-top: 40px;
  }

  .vc-accordion-lists {
    margin-top: 50px;
  }

  .vc-sidebar-vaq-select {
    display: block;
    margin-left: 40px;
    width: 80vw;
    padding: 10px 8px;
    background: #fff;
    border-radius: 5px;
  }

  ul.vc-sidebar-vaq {
    display: none;
  }

  section.section-pages.section-five {
    padding-top: 50px;
  }

  .tab-pane {
    margin-top: 0px;
  }

  img.js-home-section-five-image {
    width: 450px;
    height: auto;
    margin: auto;
    display: block;
  }

  .section-six {
    margin: 80px 80px;
  }

  .section-seven {
    margin: 80px 0px;
  }
}

/*media screen */
@media (max-width: 540px) {
  body {
    margin: -10px !important;
  }

  header .btn-download {
    display: none;
  }

  header.header {
    padding: 15px 15px;
  }

  .header-logo {
    background: url(../../../wp-content/uploads/2022/09/logo-mob.png) no-repeat;
    width: 62px;
    height: 18px;
  }

  .custom-logo-link {
    display: none;
  }

  .nav-link {
    padding: 0px 24px 15px 50px !important;
  }

  body.admin-bar.header-fixed header.fixed {
    top: 130px;
  }

  .header-wrap.d-flex.flex-column.flex-md-row.align-items-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row !important;
  }

  .col-8.d-flex.justify-content-end.align-items-center.wrap-btn-download {
    display: none !important;
  }

  /* .navbar-toggler:not(:disabled):not(.disabled) {
        position: absolute;
        right: -60px;
      } */

  /* .navbar-collapse {
        width: 100%;
        position: absolute;
        top: 42px;
        left: -328px;
        z-index: 999;
        padding: 15px 40px 10px;
        color: #6936d3;
      } */

  .navbar-light .navbar-nav .nav-link {
    color: #6936d3 !important;
    line-height: 30px;
  }

  .navbar-light .navbar-nav .active > .nav-link {
    color: #6936d3 !important;
  }

  .ul#menu-main-menu {
    background: #fff;
  }

  header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    line-height: normal;
  }

  /* .navbar-nav {
        min-width: 450px;
        overflow-x: hidden;
        margin: -27px -45px;
        background: #fff;
        padding-top: 20px;
      } */

  .vc-header ~ .bg-homepages .btn.btn-primary.btn-download.button-modal {
    display: inline-block;
  }

  .vc-header ~ .bg-homepages .btn.btn-primary.btn-download.button-link {
    display: none;
  }

  /*section one*/

  .homepages h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.96px;
  }

  .homepages p {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    letter-spacing: 0.64px;
  }

  .homepages {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding: 80px 0px;
  }

  .section-pages {
    padding: 0px 30px;
  }

  section.section-pages.section-two {
    padding: 20px 15px;
  }

  .featurette-image-kebutuhan {
    float: none;
  }

  /*section two*/

  .feature-icon {
    margin-top: 0px;
  }

  .feature-two {
    font-size: 14px;
    font-weight: 500;
  }

  .feature-image {
    margin-bottom: 10px;
  }

  p.feature-icon {
    font-size: 14px;
  }

  .feature.col {
    margin-left: -15px !important;
  }

  .layout-tab-feature {
    display: inline-block;
    white-space: nowrap;
    padding-bottom: 20px;
    overflow-y: auto;
  }

  .layanan-prg {
    position: absolute;
    top: 10px;
  }

  /*section theree*/
  .section-three {
    padding: 40px 20px 50px;
    margin: 0px;
    min-height: 900px;
  }

  .vc-layanan-image {
    position: absolute;
    top: -480px;
  }

  .row.wrap-layout-tab {
    margin-top: 430px;
  }

  .section-four {
    padding: 20px 20px 50px;
  }

  .title_main {
    font-size: 18px;
    font-weight: 600;
  }

  .paragraph_main {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
  }

  .title-two {
    font-size: 20px;
    font-weight: 600;
  }

  .prg-two {
    font-size: 14px;
    line-height: 1.71;
  }

  .btn-pelajari {
    font-size: 14px;
    font-weight: 500;
  }

  img.bd-placeholder-img {
    margin-top: 20px;
    display: block;
  }

  .layout-tab-feature {
    margin-left: 0px;
  }

  .wrap-layout-tab {
    justify-content: flex-start;
  }

  .layout-tab-feature ul.nav.nav-tabs {
    flex-wrap: nowrap;
    margin-left: 15px;
  }

  .nav-tabs .nav-link,
  .nav-tabs .nav-link.active {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    padding-bottom: 16px !important;
    padding-right: 20px !important;
    padding-left: 0px !important;
    display: block;
  }

  .tab-pane p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
  }

  .tab-pane ol li {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
  }

  ul.nav.nav-pills {
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    padding-bottom: 16px !important;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    padding-bottom: 16px !important;
  }

  /*setion six*/
  .section-six {
    margin: 30px !important;
  }

  .featurette-banner {
    padding: 20px 0px 40px;
    display: flex;
    flex-direction: column-reverse;
    min-width: 320px;
    margin-left: -42px !important;
  }

  h2.banner_title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 0px;
    line-height: 1.57;
  }

  p.banner_paragraph {
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0 30px;
    line-height: 1.57;
  }

  .banner_paragraph ol,
  ul li {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    color: #fff;
    line-height: 1.57;
  }

  img.banner-img {
    margin: auto;
    display: block;
  }

  /*section-seven*/

  .section-seven {
    margin: 0px !important;
    padding: 0px !important;
  }

  .section-seven p {
    margin-top: 20px;
  }

  .card-body-faq p {
    padding-bottom: 15px;
  }

  a.btn.btn-header-link {
    padding: 0px 0px 15px;
  }

  .vc-faq-home .btn.btn-header-link a:hover {
    color: #1f2e45;
  }

  .wrap-faq-home,
  #main #faq .card .card-header .btn-header-link,
  .section-seven p {
    font-size: 14px;
    line-height: 1.71;
    color: #1f2e45;
  }

  .card-header {
    padding: 0px !important;
  }

  .footer-pad {
    margin-top: 40px;
  }

  .footer-menu li {
    text-align: left;
    float: left;
    margin: 0px 0px 0px 0px;
    line-height: 30px;
    padding-right: 30px;
  }

  ul#menu-footer-menu {
    display: contents;
  }

  .textleft {
    text-align: left;
    margin-top: 20px;
    width: 95%;
  }
  .wrap-logo-lps {
    margin-top: 40px;
  }
  .copyright {
    margin-top: 0px;
    padding: 20px 0 10px;
    color: #1f2e45;
  }

  .entry-content-main {
    width: 100%;
    font-size: 14px;
    padding: 50px;
  }

  a.btn.btn-lainnya {
    font-size: 14px !important;
    font-weight: 500 !important;
  }
}

.widget-area {
  display: none;
}

h1.entry-title {
  display: none !important;
}

@media screen and (max-width: 580px) {
  /* .navbar-toggler {
      display: inline-block !important;
      float: right;
      margin: 25px;
      font-size: 2em;
      transition: color linear 0.15s;
  } */

  a.navbar-toggler:link,
  a.navbar-toggler:visited,
  a.navbar-toggler:hover,
  a .navbar-toggler:active {
    text-decoration: none;
    color: #fff;
  }
}
