body,
html {
  margin: 0;
  overflow-x: hidden;
}
@supports (overflow-x: clip) {
  body,
  html {
    overflow-x: clip;
  }
}

.vc-accordion-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vc-card {
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: relative;
  padding: 20px;
}

.vc-card-header {
  transition: all ease-in-out 0.3s;
  max-height: 100px;
}

.vc-card-header.hide {
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.vc-card-header__icon {
  display: block;
}

@media (max-width: 500px) {
  .btn-download-header {
    display: none;
  }
}

/* Homepage Animation Tab Image */
.vc-layanan-image {
  transform: translateX(-50%);
  transition: all ease-in-out 0.3s;
}

.active.show .vc-layanan-image {
  transform: translateX(0%);
  transition: all ease-in-out 0.3s;
}
.vc-image-trans {
  transform: translateX(50%);
  transition: all ease-in-out 0.3s;
}

.active.show .vc-image-trans {
  transform: translateX(0%);
  transition: all ease-in-out 0.3s;
}

/* Faq custom css */
.ufaqsw_default_all_single_faq .ufaqsw_faq_title {
  display: none;
}
.vc-sidebar-vaq {
  flex: 0 0 30%;
}
.vc-sidebar-vaq .ufaqsw_faq_title {
  cursor: pointer;
}
.vc-sidebar-vaq .ufaqsw_faq_title.active {
  color: #6a38d3;
}

.ufaqsw_default_all_faq_content {
  display: flex;
  height: 100% !important;
}

.vc-sidebar-vaq ~ .ufaqsw_search_no_result {
  flex: 0 0 70%;
}

.vc-sidebar-vaq ~ .ufaqsw_default_all_single_faq {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  flex: 0 0 70%;
}

@media (min-width: 1140px) {
  #download-Modal .container .row {
    flex-wrap: nowrap;
  }

  .v-card-content {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #1f2e45;
  }

  h5 {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .vc-header {
    background: #fff !important;
    top: 0 !important;
  }

  .vc-sidebar-vaq-select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin: 20px 0;
  }

  .vc-header ~ .section-pages.section-two .feature-wrapper .feature {
    flex: 0 0 100%;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .vc-header ~ .section-pages.section-three .nav-tabs .nav-link {
    height: 100%;
  }

  .vc-header ~ .section-pages.section-four .vc-image-trans.image-trans {
    margin-top: 0;
  }

  .vc-header ~ footer.mainfooter {
    margin-top: 40px;
  }

  .vc-accordion-lists {
    margin-top: 50px;
  }

  .vc-sidebar-vaq-select {
    display: block;
    margin-left: 35px;
    width: 50%;
    padding: 10px 8px;
    background: #fff;
    border-radius: 5px;
  }

  .section-four {
    padding: 80px 40px;
  }

  .ufaqsw_faq_title {
    font-size: 18px;
    font-weight: 500;
  }

  ul.vc-sidebar-vaq {
    display: none;
  }
}

@media (max-width: 600px) {
  .vc-sidebar-vaq-select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin: 20px 0;
  }
  .ufaqsw_default_all_faq_content {
    flex-direction: column;
  }

  .ufaqsw_faq_title {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #eee;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
      linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
  }

  .ufaqsw_faq_title {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin: 20px 0;
  }

  .pertanyaan {
    font-size: 18px !important;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1f2e45;
  }

  .ufaqsw_default_all_faq_header {
    height: auto !important;
    padding: 0 0 40px !important;
  }

  .ufaqsw_default_all_search_box {
    height: 56px !important;
    margin-top: 40px !important;
  }

  .vc-sidebar-vaq {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
  }

  .vc-sidebar-vaq ~ .ufaqsw_default_all_single_faq {
    max-width: 100vw;
    margin-left: 10px;
  }

  .ufaqsw_default_all_faq_content .ufaqsw_toggle_default {
    margin: 30px;
    border-bottom: 1px solid #eaeaea;
  }

  .ufaqsw_default_all_search {
    width: 100% !important;
    padding-inline: 15px;
    max-width: 320px;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
  }

  .ufaqsw_default_all_search_box {
    max-width: 320px;
    height: 56px;
    padding: 0 !important;
    transform: translateX(-16px);
  }
}

/* make header always white on mobile view */
.vc-sidebar-vaq-select {
  display: none;
}

ul.vc-sidebar-vaq {
  display: block;
}

.vc-header ~ .bg-homepages .btn.btn-primary.btn-download.button-modal {
  display: inline-block;
}

.vc-header ~ .bg-homepages .btn.btn-primary.btn-download.button-link {
  display: none;
}

@media (max-width: 640px) {
  .vc-header {
    background: #fff !important;
    top: 0 !important;
  }
}

@media (max-width: 500px) {
  .vc-header {
    background: #fff !important;
    top: 0 !important;
  }

  .vc-sidebar-vaq-select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin: 20px 0;
    background-image: url('data:image/svg+xml, <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.6713 12.6268L1.18193 3.13733C0.724268 2.67966 0.724268 1.93767 1.18193 1.48005L2.28872 0.373268C2.74561 -0.0836171 3.48608 -0.0844964 3.94404 0.371314L11.5 7.89187L19.0559 0.371314C19.5139 -0.0844964 20.2543 -0.0836171 20.7112 0.373268L21.818 1.48005C22.2757 1.93772 22.2757 2.67971 21.818 3.13733L12.3287 12.6268C11.871 13.0844 11.129 13.0844 10.6713 12.6268Z" fill="black"/></svg>') !important;
    background-repeat: no-repeat !important;
    background-size: 15px !important;
    background-position-y: center !important;
    background-position-x: 96% !important;
  }

  .vc-faq-home .btn.btn-header-link {
    white-space: pre-line;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1f2e45;
    font-weight: 500;
  }

  .vc-header ~ .section-pages.section-two .feature-wrapper {
    padding: 0;
    margin: 0;
  }

  .vc-header ~ .section-pages.section-two .feature-wrapper .feature {
    flex: 0 0 100%;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .vc-header ~ .section-pages.section-three .nav-tabs .nav-link {
    height: 100%;
  }

  .vc-header ~ .section-pages.section-four .nav-pills .nav-link {
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
  }

  ul.nav.nav-pills {
    margin-top: 400px;
    justify-content: center;
  }

  .vc-header ~ .section-pages.section-four .vc-image-trans.image-trans {
    margin-top: 0;
  }

  .vc-header ~ footer.mainfooter {
    margin-top: 40px;
  }

  .vc-accordion-lists {
    margin-top: 50px;
  }

  .vc-sidebar-vaq-select {
    display: block;
    margin-left: 35px;
    width: 50%;
    padding: 10px 8px;
    background: #fff;
    border-radius: 5px;
  }

  .ufaqsw_faq_title {
    font-size: 18px;
    font-weight: 500;
  }

  ul.vc-sidebar-vaq {
    display: none;
  }

  .ufaqsw_toggle_default .ufaqsw-toggle-title-area-default h3 {
    font-size: 14px !important;
    font-weight: 500 !important;
  }

  .ufaqsw_toggle_default .ufaqsw-toggle-inner-default {
    font-size: 14px !important;
    font-weight: normal !important;
  }

  .ufaqsw_toggle_default
    .ufaqsw-toggle-title-area-default
    .ufaqsw-title-name-default {
    display: block;
    padding: 0px 0 16px !important;
  }
}

/* update tgl 10 sep 2022 */
@media (max-width: 1024px) {
  .vc-header.fixed {
    left: 0;
  }
  .vc-header .header-wrap {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .vc-header .header-logo {
    height: 100%;
    box-sizing: border-box;
    margin-top: 21px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .vc-header .header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .vc-header .header .navbar {
    padding: 0;
  }
  .vc-header .header .navbar .navbar-toggler {
    justify-self: end;
    margin-left: auto;
  }
  .vc-header .header .navbar ul {
    margin-top: 30px;
  }
  .vc-header .header .navbar ul li a {
    padding-left: 0 !important;
  }
}

@media (max-width: 600px) {
  .vc-header .container {
    padding-right: 0;
  }
  .vc-header .container-fluid {
    padding-right: 0;
  }

  .ufaqsw_default_all_faq_content {
    width: 100vw !important;
  }

  .vc-sidebar-vaq-select {
    width: 82vw;
  }
  .vc-sidebar-vaq-select ~ .ufaqsw_default_all_single_faq {
    margin-left: 0;
  }
}

@media (min-width: 990px) and (max-width: 1024px) {
  .vc-header .header-wrap {
    padding-block: 24px 10px;
  }
  .vc-header .header {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
  }
  .vc-header .header .navbar {
    flex-direction: column;
    align-items: flex-end;
  }
  .vc-header .header .navbar ul {
    margin-left: auto;
    margin-right: 16px;
    margin-top: 0;
    column-gap: 16px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .ufaqsw_default_all_faq_content {
    width: 100% !important;
  }

  .vc-sidebar-vaq ~ .ufaqsw_default_all_single_faq .ufaqsw_toggle_default {
    margin-left: 30px;
    margin-right: 30px;
  }

  .vc-sidebar-vaq ~ .ufaqsw_default_all_single_faq {
    flex: auto;
  }

  .vc-sidebar-vaq .ufaqsw_faq_title {
    width: 200px;
  }
}

.vc-header ~ .entry-content-main-faq .ufaqsw_default_all_search_box {
  background-image: url('data:image/svg+xml, <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25.5529 21.8793L20.6848 17.0112C20.4651 16.7914 20.1672 16.6694 19.8547 16.6694H19.0588C20.4065 14.9457 21.2072 12.7778 21.2072 10.4194C21.2072 4.80902 16.6613 0.263123 11.051 0.263123C5.44064 0.263123 0.894745 4.80902 0.894745 10.4194C0.894745 16.0297 5.44064 20.5756 11.051 20.5756C13.4094 20.5756 15.5774 19.7748 17.301 18.4272V19.2231C17.301 19.5356 17.4231 19.8334 17.6428 20.0532L22.511 24.9213C22.9699 25.3803 23.7121 25.3803 24.1662 24.9213L25.5481 23.5395C26.007 23.0805 26.007 22.3383 25.5529 21.8793ZM11.051 16.6694C7.59885 16.6694 4.80099 13.8764 4.80099 10.4194C4.80099 6.96722 7.59396 4.16937 11.051 4.16937C14.5031 4.16937 17.301 6.96234 17.301 10.4194C17.301 13.8715 14.508 16.6694 11.051 16.6694Z" fill="black"/></svg>') !important;
  background-repeat: no-repeat !important;
  background-size: 24px !important;
  background-position-y: center !important;
  background-position-x: 2% !important;
}

/* add X to remove field */
.vc-x-span {
  display: inline;
  position: absolute;
  cursor: pointer;
  top: 195%;
  right: 20px;
}

@media (max-width: 600px) {
  .vc-x-span {
    top: 140%;
  }
}
